// Colors
$pleather: #1c1d35;
$quartz: #f4f4f6;
$white: #ffffff;
$border: #d6d7dd;
$grey: #8d8e9a;

// Breakpoints
$small: 'screen and (max-width: 850px)';
$medium: 'screen and (min-width: 850px)';

// Fonts
$chap: 'Chap', 'Trebuchet MS', 'Verdana', 'Helvetica', 'sans-serif';
$l10: 'L10', 'Helvetica', 'san-serif';
